<div 
    class="w-full z-100 bg-gray-50 p-3 flex justify-between items-center"
    style="position: sticky; top: 0; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.458);"
    >
    <div class="h-10 flex items-center">
        <img 
            routerLink="/"
            class="ml-5 cursor-pointer h-full w-auto object-contain"
            src="/GroupHeader2025.png"
            alt="Logo"
        />
        <p class="ml-2 text-red-600 font-medium">Quản lý cuộc họp</p>
    </div>
<!-- 
    <div
        class="flex gap-5"
    >
        <p>{{keycloakService.profile?.username}}</p>
        <button
            (click)="keycloakService.logout()"
            class="cursor-pointer hover:text-gray-500"
        >
            Đăng xuất
        </button>
    </div> -->
</div>
