<div 
    class="w-full sticky top-0 z-100 bg-gray-100 p-3 flex justify-between"
    style="box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.458);"
    >
    <div>
        <p 
            routerLink="/"
            class="cursor-pointer"
        >
            Trang chủ
        </p>
    </div>
<!-- 
    <div
        class="flex gap-5"
    >
        <p>{{keycloakService.profile?.username}}</p>
        <button
            (click)="keycloakService.logout()"
            class="cursor-pointer hover:text-gray-500"
        >
            Đăng xuất
        </button>
    </div> -->
</div>
