<mat-sidenav-container 
  class="h-full"
  style="box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.1), 0 2px 5px 2px rgba(0, 0, 0, 0.463);"
>
  <mat-sidenav mode="side" opened style="width: 250px; background-color: #fff;">
    <div class="flex flex-col items-center py-8">
      <img [src]="kcService.profile?.picture" alt="avatar" class="w-20 h-20 mb-3 object-cover rounded-full" />
      <p class="text-xl font-semibold text-base mb-1">{{kcService.profile?.name}}</p>
      <span class="text-l text-gray-600">{{kcService.profile?.username}}</span>
    </div>
    
    <hr class="ml-4 mr-4 border-gray-300"/>

    <div class="px-2">
      <mat-accordion class="mt-2" multi>
        <ng-container *ngFor="let group of sidebarMenus">
          <mat-expansion-panel class="!bg-transparent !shadow-none" style="background: transparent; box-shadow: none;" [expanded]="true">
            <mat-expansion-panel-header class="!bg-transparent" style="background: transparent;">
              <mat-panel-title>
                {{ group.label }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item *ngFor="let item of group.children"
                    [ngClass]="{'text-blue-600 font-semibold': router.url === item.url}"
                    (click)="item.onClick?.()"
                    routerLink="{{item.url}}"
                >
                  <div class="flex items-center ">
                    <mat-icon class="mr-2 " *ngIf="item.icon" [ngStyle]="{'color': item.color || ''}">{{item.icon}}</mat-icon>
                    <p
                        [ngClass]="{'text-blue-800 font-semibold': router.url === item.url}"
                        class="whitespace-normal break-words"
                    >
                      {{item.label}}
                    </p>
                    <hr/>
                  </div>
                    
                </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>
    </div>

  </mat-sidenav>
</mat-sidenav-container>
